@import "mocha.css";

* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: @base;
}

#workspaces {
  border-radius: 1rem;
  background-color: @surface0;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#workspaces button {
  color: @pink;
  border-radius: 1rem;
  box-shadow: inset 0 -3px transparent;
  transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.68);
  background-color: transparent;
}

#workspaces button.focused {
  background: @flamingo;
  color: @surface0;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @rosewater;
  border-radius: 1rem;
}

#tray,
#network,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#language,
#keyboard-state,
#temperature,
#memory,
#cpu,
#window,
#custom-notification {
  background-color: @surface0;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 1rem;
}

#clock {
  color: @lavender;
}

#battery, #temperature, #memory, #cpu, #custom-notification {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network {
    color: @flamingo;
}

#backlight, #language {
  color: @yellow;
}

#pulseaudio {
  color: @pink;
}

#pulseaudio.muted {
    color: @red;
}

#custom-power {
    border-radius: 1rem;
    color: @red;
    margin-bottom: 1rem;
}

#tray {
  border-radius: 1rem;
}

#window {
  color: @text;
}

tooltip {
    background: @base;
    border: 1px solid @pink;
}

tooltip label {
    color: @text;
}
